#!/bin/bash

a=`/bin/ping -c 2 {{ self_check_host }}|/bin/grep received|/usr/bin/cut -d " " -f 4`

if [ $a == "1" ] || [ $a == "2" ];
then
   echo "OK" > /dev/null
else
   echo "Rebooted at "`date` >> {{ self_check_path }}/reboot.log
   /sbin/reboot
fi
